.primary-color {
  background-color: #4285f4;
}
.primary-color-dark {
  background-color: #0d47a1;
}
.footer-lite {
  /* background-color: #484e53; */
  background-color: #444a64;
}
.footer-dark {
  /* background-color: #343a40; */
  background-color: #2f3653;
}
.bg-f4f4f4 {
  background-color: #f4f4f4;
}
.link {
  color: #4285f4;
  cursor: pointer;
}
button.navbar-toggler {
  outline: none;
  color: white !important;
  border: none;
}

.mw-400 {
  max-width: 400px;
}

.social-icon {
  font-size: 24px;
}

footer {
  width: 100%;
  /* background-color: rgb(32, 32, 32); */
  color: white;
}
footer a {
  text-decoration: none !important;
  color: white;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 blue;
}

/* old */
body {
  font-family: "DM Mono", monospace;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 30px;
}

/* .input-border{border: 1px solid #d9d9d9; border-radius: 5px; } */

#loader {
  margin-top: 30vh;
}

.fit-content {
  width: fit-content;
}

#footer {
  width: 100%;
}

@media only screen and (max-width: 374px) {
  .margin-top {
    margin-top: 80px;
  }
  .position {
    position: fixed;
    top: 40%;
    z-index: 9;
  }
}

@media only screen and (min-width: 375px) and (min-height: 706px) {
  .margin-top {
    margin-top: 110px;
  }
  .position {
    position: fixed;
    top: 40%;
    left: 35%;
    z-index: 9;
  }
}

@media only screen and (min-width: 375px) and (max-height: 705px) {
  .margin-top {
    margin-top: 75px;
  }
  .position {
    position: fixed;
    top: 40%;
    left: 35%;
    z-index: 9;
  }
}

@media only screen and (min-width: 768px) and (min-height: 640px) {
  .margin-top {
    margin-top: 100px;
  }
  .position {
    position: fixed;
    top: 40%;
    left: 35%;
    z-index: 9;
  }
}

/* iPAD */

@media only screen and (min-width: 786px) and (min-height: 1000px) {
  .margin-top {
    margin-top: 100px;
  }
  .position {
    position: fixed;
    top: 40%;
    left: 35%;
    z-index: 9;
  }
}

@media only screen and (max-width: 411px) {
  body,
  html {
    font-size: 16px;
  }
  .navbar-brand {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

/* ----------Google fonts---------- */

/* --- font-family: 'DM Mono', monospace; --- */

@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("DM Mono Regular"), local("DMMono-Regular"),
    url(https://fonts.gstatic.com/s/dmmono/v1/aFTU7PB1QTsUX8KYthSQBLyM.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("DM Mono Regular"), local("DMMono-Regular"),
    url(https://fonts.gstatic.com/s/dmmono/v1/aFTU7PB1QTsUX8KYthqQBA.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* ---- font-family: 'Comic Neue', cursive; --------*/

@font-face {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Comic Neue Bold"), local("ComicNeue-Bold"),
    url(https://fonts.gstatic.com/s/comicneue/v1/4UaErEJDsxBrF37olUeD_xHM8pxULg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.nav-link {
  font-size: 18px;
  /* color: black !important; */
  color: white !important;
}
.nav-link:hover {
  color: gray !important;
}
.navbar {
  /* background-color: #343a40 !important; */
  background-color: #2f3653 !important;
}
.navbar-brand {
  color: white !important;
  font-weight: 500;
}
#description {
  font-size: 18px;
}
@media only screen and (min-width: 900px) {
  #description {
    margin-top: 50px;
  }
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.z-depth-1-half {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn-theme {
  color: #fff;
  background-color: #444a64;
  border-color: #444a64;
}

.btn-theme:hover {
  color: #fff;
  background-color: #2a314b;
  border-color: #262b42;
}

.btn-theme:focus,
.btn-theme.focus {
  color: #fff;
  background-color: #2a314b;
  border-color: #262b42;
  box-shadow: 0 0 0 0.2rem #595e75;
}

.btn-theme.disabled,
.btn-theme:disabled {
  color: #fff;
  background-color: #2f3653;
  border-color: #2f3653;
}

.btn-theme:not(:disabled):not(.disabled):active,
.btn-theme:not(:disabled):not(.disabled).active,
.show > .btn-theme.dropdown-toggle {
  color: #fff;
  background-color: #262b42;
  border-color: #262b42;
}

.btn-theme:not(:disabled):not(.disabled):active:focus,
.btn-theme:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #595e75;
}
